
<p>
  <%= link_to days_path do %>
    <i class="fa-solid fa-arrow-left-long"> 日程一覧に戻る</i>
  <% end %>
</p>
<h3>
  <%= @day.start.month %>月<%= @day.start.day %>日 ～
  <%= @day.finish.month %>月<%= @day.finish.day %>日
</h3>
<p>
  ログイン中のユーザー
  <span class="logname">
    <i class="fa-solid fa-ellipsis-vertical"></i>
    <%= current_user.name %>
  </span>
</p>
<hr>
<h3>備考欄編集</h3>
  <div class= "scroll">    
   <div class = "hyou">
    <table class = "table table-sm table-bordered table-hover" >
      <%= render "jobs/thead", day:@day %>
      <tbody>
        <% @user.each_with_index do |user, i| %>
          <tr>
            <td class="one">
              <% if i == 0 %>
                <small><small>店長</small></small>
              <% else %>
                <%= i %>
              <% end %>
            </td>
            <td class="name">
              <%= render "jobs/name", user: user %>
            </td>
            <% if user.job_by?(user.id,@day.id) %>
    <!--「=」消してない--><% user.jobs.where(day_id: @day.id).each do |job| %>
                <!--% if job.day_id == @day.id %-->
                  <td class="job"><%= job.time1 %></td>
                  <td class="job"><%= job.time2 %></td>
                  <td class="job"><%= job.time3 %></td>
                  <td class="job"><%= job.time4 %></td>
                  <td class="job"><%= job.time5 %></td>
                  <td class="job"><%= job.time6 %></td>
                  <td class="job"><%= job.time7 %></td>
                  <td></td>
                  <% if job.comment_by?(job.user_id, @day.id) %>
                    <td>
                      <% @job_comment.each do |comment| %>
                        <% if comment.user_id == job.user_id %>
                          <% if comment.user_id == current_user.id %>
                            <%= form_with model:[@day, job, comment] do |f| %>
                              <%= f.text_area :comment ,class: 'form-control' %>
                              <div align = "right">
                                <%= link_to new_day_job_path(@day.id), "data-confirm" => "変更をキャンセルしますか？" do %><button class="btn btn-link btn-sm">キャンセル</button><% end %>
                                |
                                <button type="submit" class="btn btn-sm btn-primary">保存</button>
                              </div>
                            <% end %>
                          <% else %>
                            <div align = "left"><small><%= comment.comment %></small></div>
                          <% end %>

                        <% end %>
                      <% end %>
                    </td>
                  <% else %>
                    <td></td>
                  <% end %>
                <!--% end %-->
              <% end %>
            <% else %>
              <%= render "jobs/blank" %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
   </div>
  </div>