<div class = "container">
  <div class = "row">
    <p>じょぶのフォーム<p>
    <%= form_with model: [Job.new] do |f| %>
      <td><%= f.text_field :time1 %></td>
      <td><%= f.text_field :time2 %></td>
      <td><%= f.text_field :time3 %></td>
      <td><%= f.text_field :time4 %></td>
      <td><%= f.text_field :time5 %></td>
      <td><%= f.text_field :time6 %></td>
      <td><%= f.text_field :time7 %></td>
      <td>
        <button type="submit" class="btn btn-primary">
          提出
        </button>
      </td>

    <% end %>
  </div>
</div>