<%= form_with model:[day, Job.new], url: day_jobs_path(day.id), method: :post do |f| %>
  <div class= "scroll">
    <table class = "table table-sm table-bordered table-hover" >
      <tr class="table-secondary">
        <%= render "day", day:day %>
        <th class="come"></th>
      </tr>
      <tr class="table-secondary">
        <%= render "week", day:day %>
      </tr>
      <tbody>
        <tr>
          <td class="one"><!--%= current_user.id %--></td>
          <td class="name"><%= current_user.name %></td>
          <td><%= f.text_area :time1 ,class: 'form-control', rows: "2" %></td>
          <td><%= f.text_area :time2 ,class: 'form-control', rows: "2" %></td>
          <td><%= f.text_area :time3 ,class: 'form-control', rows: "2" %></td>
          <td><%= f.text_area :time4 ,class: "form-control", rows: "2" %></td>
          <td><%= f.text_area :time5 ,class: 'form-control', rows: "2" %></td>
          <td><%= f.text_area :time6 ,class: "form-control", rows: "2" %></td>
          <td><%= f.text_area :time7 ,class: 'form-control', rows: "2" %></td>
          <td class="text-left">
            <button type="submit" class="btn btn-primary btn-sm ">提出</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>