 <%= form_with model: [Job.new] do |f| %>
   <td><%= f.text_field :time1 ,size: 7.5 %></td>
   <td><%= f.text_field :time2 ,size: 7.5 %></td>
   <td><%= f.text_field :time3 ,size: 7.5 %></td>
   <td><%= f.text_field :time4 ,size: 7.5 %></td>
   <td><%= f.text_field :time5 ,size: 7.5 %></td>
   <td><%= f.text_field :time6 ,size: 7.5 %></td>
   <td><%= f.text_field :time7 ,size: 7.5 %></td>
   <td>
    <button type="submit" class="btn btn-primary">
      提出
    </button>
   </td>
 <% end %>