<!-- 日にち -->
<tr class="table-secondary">
  <th style="width: 3% "></th>
  <th style="width: 10% "></th>
  <th style="width: 9% ">
    <% if day.mon_by?(day.id) %>
      <% if current_user.id == 1 %>
        <%= link_to day_mons_path(day.id), method: :delete ,:style=>"color: red" do %>
          <%= day.start.month %>月<%= day.start.day %>日
        <% end %>
      <% else %>
        <div style="color: red"><%= day.start.month %>月<%= day.start.day %>日</div>
      <% end %>
    <% else %>
      <% if current_user.id == 1 %>
        <%= link_to day_mons_path(day.id), method: :post ,:style=>"color: black" do %>
          <%= day.start.month %>月<%= day.start.day %>日
        <% end %>
      <% else %>
          <%= day.start.month %>月<%= day.start.day %>日
      <% end %>
    <% end %>
  </th>
  <th style="width: 9% ">
    <% if day.tue_by?(day.id) %>
      <% if current_user.id == 1 %>
        <%= link_to day_tues_path(day.id), method: :delete ,:style=>"color: red" do %>
          <%= (day.start+1).month %>月<%= (day.start+1).day %>日
        <% end %>
      <% else %>
        <div style="color: red"><%= (day.start+1).month %>月<%= (day.start+1).day %>日</div>
      <% end %>
    <% else %>
      <% if current_user.id == 1 %>
        <%= link_to day_tues_path(day.id), method: :post ,:style=>"color: black" do %>
          <%= (day.start+1).month %>月<%= (day.start+1).day %>日
        <% end %>
      <% else %>
          <%= (day.start+1).month %>月<%= (day.start+1).day %>日
      <% end %>
    <% end %>
  </th>
  <th style="width: 9% ">
   <% if day.wed_by?(day.id) %>
      <% if current_user.id == 1 %>
        <%= link_to day_weds_path(day.id), method: :delete ,:style=>"color: red" do %>
          <%= (day.start+2).month %>月<%= (day.start+2).day %>日
        <% end %>
      <% else %>
        <div style="color: red"><%= (day.start+2).month %>月<%= (day.start+2).day %>日</div>
      <% end %>
    <% else %>
      <% if current_user.id == 1 %>
        <%= link_to day_weds_path(day.id), method: :post ,:style=>"color: black" do %>
          <%= (day.start+2).month %>月<%= (day.start+2).day %>日
        <% end %>
      <% else %>
          <%= (day.start+2).month %>月<%= (day.start+2).day %>日
      <% end %>
    <% end %>
  </th>
  <th style="width: 9% ">
   <% if day.thu_by?(day.id) %>
      <% if current_user.id == 1 %>
        <%= link_to day_thus_path(day.id), method: :delete ,:style=>"color: red" do %>
          <%= (day.start+3).month %>月<%= (day.start+3).day %>日
        <% end %>
      <% else %>
        <div style="color: red"><%= (day.start+3).month %>月<%= (day.start+3).day %>日</div>
      <% end %>
    <% else %>
      <% if current_user.id == 1 %>
        <%= link_to day_thus_path(day.id), method: :post ,:style=>"color: black" do %>
          <%= (day.start+3).month %>月<%= (day.start+3).day %>日
        <% end %>
      <% else %>
          <%= (day.start+3).month %>月<%= (day.start+3).day %>日
      <% end %>
    <% end %>
  </th>
  <th style="width: 9% ">
    <% if day.fri_by?(day.id) %>
      <% if current_user.id == 1 %>
        <%= link_to day_fris_path(day.id), method: :delete ,:style=>"color: red" do %>
          <%= (day.start+4).month %>月<%= (day.start+4).day %>日
        <% end %>
      <% else %>
        <div style="color: red"><%= (day.start+4).month %>月<%= (day.start+4).day %>日</div>
      <% end %>
    <% else %>
      <% if current_user.id == 1 %>
        <%= link_to day_fris_path(day.id), method: :post ,:style=>"color: black" do %>
          <%= (day.start+4).month %>月<%= (day.start+4).day %>日
        <% end %>
      <% else %>
          <%= (day.start+4).month %>月<%= (day.start+4).day %>日
      <% end %>
    <% end %>
  </th>
  <th style="width: 9% ">
    <% if day.sat_by?(day.id) %>
      <% if current_user.id == 1 %>
        <%= link_to day_sats_path(day.id), method: :delete ,:style=>"color: red" do %>
          <%= (day.start+5).month %>月<%= (day.start+5).day %>日
        <% end %>
      <% else %>
        <div style="color: red"><%= (day.start+5).month %>月<%= (day.start+5).day %>日</div>
      <% end %>
    <% else %>
      <% if current_user.id == 1 %>
        <%= link_to day_sats_path(day.id), method: :post ,:style=>"color: dodgerblue" do %>
          <%= (day.start+5).month %>月<%= (day.start+5).day %>日
        <% end %>
      <% else %>
        <div style="color: dodgerblue"><%= (day.start+5).month %>月<%= (day.start+5).day %>日</div>
      <% end %>
    <% end %>
  </th>
  <th style="width: 9%; color: red">
    <%= (day.start+6).month %>月<%= (day.start+6).day %>日
  </th>
  <th style="width: 4.5% "></th>
  <th style="width: 19.5% ">備考</th>
</tr>
<!-- 曜日 -->
<tr class="table-secondary">
  <th></th>
  <th></th>
  <th>
    <% if day.mon_by?(day.id) %>
      <% if current_user.id == 1 %>
        <%= link_to day_mons_path(day.id), method: :delete ,:style=>"color: red" do %>
          月
        <% end %>
      <% else %>
        <div style="color: red">月</div>
      <% end %>
    <% else %>
      <% if current_user.id == 1 %>
        <%= link_to day_mons_path(day.id), method: :post ,:style=>"color: black" do %>
          月
        <% end %>
      <% else %>
          月
      <% end %>
    <% end %>
  </th>
  <th>
    <% if day.tue_by?(day.id) %>
      <% if current_user.id == 1 %>
        <%= link_to day_tues_path(day.id), method: :delete ,:style=>"color: red" do %>
          火
        <% end %>
      <% else %>
        <div style="color: red">火</div>
      <% end %>
    <% else %>
      <% if current_user.id == 1 %>
        <%= link_to day_tues_path(day.id), method: :post ,:style=>"color: black" do %>
          火
        <% end %>
      <% else %>
          火
      <% end %>
    <% end %>
  </th>
  <th>
    <% if day.wed_by?(day.id) %>
      <% if current_user.id == 1 %>
        <%= link_to day_weds_path(day.id), method: :delete ,:style=>"color: red" do %>
          水
        <% end %>
      <% else %>
        <div style="color: red">水</div>
      <% end %>
    <% else %>
      <% if current_user.id == 1 %>
        <%= link_to day_weds_path(day.id), method: :post ,:style=>"color: black" do %>
          水
        <% end %>
      <% else %>
          水
      <% end %>
    <% end %>
  </th>
  <th>
    <% if day.thu_by?(day.id) %>
      <% if current_user.id == 1 %>
        <%= link_to day_thus_path(day.id), method: :delete ,:style=>"color: red" do %>
          木
        <% end %>
      <% else %>
        <div style="color: red">木</div>
      <% end %>
    <% else %>
      <% if current_user.id == 1 %>
        <%= link_to day_thus_path(day.id), method: :post ,:style=>"color: black" do %>
          木
        <% end %>
      <% else %>
          木
      <% end %>
    <% end %>
  </th>
  <th>
    <% if day.fri_by?(day.id) %>
      <% if current_user.id == 1 %>
        <%= link_to day_fris_path(day.id), method: :delete ,:style=>"color: red" do %>
          金
        <% end %>
      <% else %>
        <div style="color: red">金</div>
      <% end %>
    <% else %>
      <% if current_user.id == 1 %>
        <%= link_to day_fris_path(day.id), method: :post ,:style=>"color: black" do %>
          金
        <% end %>
      <% else %>
          金
      <% end %>
    <% end %>
  </th>
  <th>
    <% if day.sat_by?(day.id) %>
      <% if current_user.id == 1 %>
        <%= link_to day_sats_path(day.id), method: :delete ,:style=>"color: red" do %>
          土
        <% end %>
      <% else %>
        <div style="color: red">土</div>
      <% end %>
    <% else %>
      <% if current_user.id == 1 %>
        <%= link_to day_sats_path(day.id), method: :post ,:style=>"color: dodgerblue" do %>
          土
        <% end %>
      <% else %>
        <div style="color: dodgerblue">土</div>
      <% end %>
    <% end %>
  </th>
  <th style="color: red">日</th>
  <th></th>
  <th></th>
  </tr>