<%= form_with model:[day, job],url: day_job_path(day.id, job.id), method: :patch  do |f| %>
  <table class = "table table-sm table-bordered">
    <tr class="table-secondary">
      <%= render "day", day:day %>
      <th style="width: 32% "></th>
    </tr>

    <tr class="table-secondary">
      <%= render "week" , day:day %>
    </tr>

    <tbody>
      <tr>
        <td><%= current_user.id %></td>
        <td><%= current_user.name %></td>
        <td><%= f.text_field :time1 ,size: 5 %></td>
        <td><%= f.text_field :time2 ,size: 5 %></td>
        <td><%= f.text_field :time3 ,size: 5 %></td>
        <td><%= f.text_field :time4 ,size: 5 %></td>
        <td><%= f.text_field :time5 ,size: 5 %></td>
        <td><%= f.text_field :time6 ,size: 5 %></td>
        <td><%= f.text_field :time7 ,size: 5 %></td>
        <td class="text-left">
          <%= link_to new_day_job_path(day.id) do %><button class="btn btn-link btn-sm">キャンセル</button><% end %>
          ｜
          <button type="button" class="btn btn-primary btn-sm">保存</button>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>