<div class= "scroll">    
  <div class = "hyou">
    <table class = "table table-sm table-bordered table-hover" >
      <%= render "jobs/thead", day:day %>
      <tbody>
        <% user.each_with_index do |user, i| %>
          <tr>
            <td class="one">
              <% if i == 0 %>
                <small><small>店長</small></small>
              <% else %>
                <%= i %>
              <% end %>
            </td>
            <td class="name">
              <%= render "jobs/name", user: user %>
            </td>
            <% if user.job_by?(user.id,day.id) %>
              <% user.jobs.where(day_id: day.id).each do |job| %>
                <!--% if job.day_id == day.id %-->
                  <td class="job"><%= job.time1 %></td>
                  <td class="job"><%= job.time2 %></td>
                  <td class="job"><%= job.time3 %></td>
                  <td class="job"><%= job.time4 %></td>
                  <td class="job"><%= job.time5 %></td>
                  <td class="job"><%= job.time6 %></td>
                  <td class="job"><%= job.time7 %></td>
                  <td></td>
                  <% if job.comment_by?(job.user_id, day.id) %>
                    <td>
                      <% job_comment.each do |comment| %>
                        <% if comment.user_id == job.user_id %>
                          <div align = "left"><small><%= comment.comment %></small></div>
                        <% end %>
                      <% end %>
                    </td>
                  <% else %>
                    <td></td>
                  <% end %>
                <!--% end %-->
              <% end %>
            <% else %>
              <%= render "jobs/blank" %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>