job edit
<h2>シフト訂正</h2>
<%= @day.id %><br>
<h4>
  <%= @day.start.month %>月<%= @day.start.day %>日～
  <%= @day.finish.month %>月<%= @day.finish.day %>日
</h4>
<hr>
<p>ログイン中のユーザー：<%= current_user.name %></p>
<%= render "repost", day:@day, job:@job %>
<hr>
<h3>シフト希望一覧</h3>
<table class = "table table-sm table-bordered table-hover" >
  <%= render "users/thead", day:@day %>
  <%= render "users/event" %>
  <tbody>
    <% @user.each do |user| %>
      <tr>
        <td class="table-secondary"><%= user.id %></td>
        <td class="table-secondary"><%= user.name %></td>
        <% if user.job_by?(user.id,@day.id) %>
          <%= user.jobs.each do |job| %>
            <% if job.day_id == @day.id %>
              <td><%= job.time1 %></td>
              <td><%= job.time2 %></td>
              <td><%= job.time3 %></td>
              <td><%= job.time4 %></td>
              <td><%= job.time5 %></td>
              <td><%= job.time6 %></td>
              <td><%= job.time7 %></td>
                <td></td>
            <% end %>
          <% end %>
        <% else %>
          <%= render "users/blank" %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>