<h2>シフト希望訂正</h2>

<p>ログイン中のユーザー：<%= current_user.name %></p>

<%= render "repost" , job: @job %>

  <table>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th></th>
      <th>1月1日（月）</th>
      <th>1月2日（火）</th>
      <th>1月3日（水）</th>
      <th>1月4日（木）</th>
      <th>1月5日（金）</th>
      <th>1月6日（土）</th>
      <th>1月7日（日）</th>
      <th>　　</th>
      <th>削除</th>
      <th>備考</th>
      <th></th>
    </tr>
    <% @user.each do |user| %>

      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <% if user.job_by?(user.id) %>
          <td></td>
          <% user.jobs.each do |job| %>
              <%= render "time" , shift: job %>

            <% if job.comment_by?(job.user_id) %>
              <td><!--%= job.job_comments.user_id %--></td>
            <% else %>
              <% if job.id == current_user.id %>
                <%= form_with model: [job, JobComment.new] do |f| %>
                  <td><%= f.text_area :comment %></td>
                  <td><%= f.submit "提出" %></td>
                <% end %>
              <% end %>

            <% end %>
          <% end %>
        <% else %>
          <td></td>
          <%= render 'form' , shift: user %>
        <% end %>
      </tr>
    <% end %>

  </table>
