<h1>希望一覧</h1>
  <table>

    <thead>
      <tr>
        <th>　　　</th>
        <th>　　　　　　</th>
        <th>1月1日（月）</th>
        <th>1月2日（火）</th>
        <th>1月3日（水）</th>
        <th>1月4日（木）</th>
        <th>1月5日（金）</th>
        <th>1月6日（土）</th>
        <th>1月7日（日）</th>
        <th>　　備考　　</th>
      </tr>
    </thead>

    <tbody>
      <% @shifts.sort_by{|shift| shift.user_id}.each do |shift| %>
      <tr>
        <td><%= shift.user_id %></td>
        <td>
          <%= link_to job_path(shift.id) do %>
            <%= shift.user.name %>
          <% end %>
        </td>

        <% if shift.user.job_by?(shift.user.id) %>
          <%= render "time" , shift: shift %>
        <% end %>

          <td>
            <% if shift.comment_by?(shift.user_id) %>
              <% @comment.each do |comment| %>
                <% if comment.user_id == shift.user_id %>
                  <%= comment.comment %>
                <% end %>
              <% end %>
            <% end %>
          </td>
          <% end %>
    </tbody>
  </table>
