<h1>希望一覧</h1>
  <table class="table table-sm table-bordered table-hover">

      <tr>
        <th></th>
        <th>　　　　　　</th>
        <th>1月1日</th>
        <th>1月2日</th>
        <th>1月3日</th>
        <th>1月4日</th>
        <th>1月5日</th>
        <th>1月6日</th>
        <th>1月7日</th>
        <th>　　備考　　</th>
      </tr>
      <tr><%= render "week" %></tr>
      <tr><%= render "event" %></tr>

    <tbody>
      <% @shifts.sort_by{|shift| shift.user_id}.each do |shift| %>
      <tr>
        <td><%= shift.user_id %></td>
        <td>
          <%= link_to job_path(shift.id) do %>
            <%= shift.user.name %>
          <% end %>
        </td>

        <% if shift.user.job_by?(shift.user.id) %>
          <%= render "time" , shift: shift %>
        <% end %>

          <td class="text-left">
            <% if shift.comment_by?(shift.user_id) %>
              <% @comment.each do |comment| %>
                <% if comment.user_id == shift.user_id %>
                  <%= comment.comment %>
                <% end %>
              <% end %>
            <% end %>
          </td>
          <% end %>
    </tbody>
  </table>
