
<p>
  <%= link_to days_path do %>
    <i class="fa-solid fa-arrow-left-long"> 日程一覧に戻る</i>
  <% end %>
</p>
<h3>
  <%= @day.start.month %>月<%= @day.start.day %>日 ～
  <%= @day.finish.month %>月<%= @day.finish.day %>日
</h3>
<p>
  ログイン中のユーザー
  <span class="logname">
    <i class="fa-solid fa-ellipsis-vertical"></i>
    <%= current_user.name %>
  </span>
</p>
<% unless current_user.job_by?(current_user.id, @day.id) %>
  <hr>
  <h3>シフト希望提出</h3>  
  <% if current_user.id == 1 %>
    <details>
      <summary>提出フォーム</summary>
      <%= render "form", day:@day %>
    </details>
  <% else %>
    <%= render "form", day:@day %>
  <% end %>
<% end %>
<hr>
<h3>シフト希望一覧</h3>
<div class= "scroll">
  <div class = "hyou">
    <table class = "table table-sm table-bordered table-hover" style="width: 100%">

      <%= render "holiday", day:@day %>

      <tr class="table-secondary"><!---->
        <% if @day.event_by?(@day.id) %>
          <% Event.where(day_id: @day.id).each do |event| %><!--where("day_id = ?", @day.id)-->
            <% if @day.id == event.day_id %>
              <td class="one"></td>
              <td class ="saizi">催事等</td>
              <td class ="event"><%= event.time1 %></td>
              <td class ="event"><%= event.time2 %></td>
              <td class ="event"><%= event.time3 %></td>
              <td class ="event"><%= event.time4 %></td>
              <td class ="event"><%= event.time5 %></td>
              <td class ="event"><%= event.time6 %></td>
              <td class ="event"><%= event.time7 %></td>
              <td>
                <% if current_user.id == 1 %>
                  <%= link_to edit_day_events_path(event.day_id) do %>
                    <button type="button" class="btn btn-sm btn-outline-primary">
                      <i class="fa-solid fa-pen"></i>
                    </button>
                  <% end %>
                  <div class= "space"></div>
                  <%= link_to day_events_path(event.day_id), method: :delete, "data-confirm" => "催事等を削除しますか？" do %>
                    <button type="button" class="btn btn-sm btn-outline-danger">
                      <i class="fa-solid fa-trash-can"></i>
                    </button>
                  <% end %>
                <% else %>
                <% end %>
              </td>
              <td></td>
            <% end %>
          <% end %>
        <% else %>
          <td class="one"></td>
          <td class ="saizi">
            <% if current_user.id == 1 %>
              <%= link_to "催事等" ,new_day_events_path(@day.id) %>
            <% else %>
              催事等
            <% end %>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        <% end %>
      </tr>

      <tbody>
        <% @user.each_with_index do |user, i| %>
          <tr>
            <td class="one">
              <% if i == 0 %>
                <small><small>店長</small></small>
              <% else %>
                <%= i %>
              <% end %>
            </td>
            <td class="name">
              <%= render "jobs/name", user: user %>
            </td>
            <% if user.job_by?(user.id,@day.id) %>
              <% user.jobs.where(day_id: @day.id).each do |job| %>
                <!--% if job.day_id == @day.id %-->
                  <td class="job"><%= job.time1 %></td>
                  <td class="job"><%= job.time2 %></td>
                  <td class="job"><%= job.time3 %></td>
                  <td class="job"><%= job.time4 %></td>
                  <td class="job"><%= job.time5 %></td>
                  <td class="job"><%= job.time6 %></td>
                  <td class="job"><%= job.time7 %></td>
                  <% if job.user.id == current_user.id %>
                    <td>
                      <%= link_to edit_day_job_path(@day.id,job.id) do %>
                        <button type="button" class="btn btn-sm btn-outline-primary">
                          <i class="fa-solid fa-pen"></i>
                        </button>
                      <% end %>
                      <div class = "space"></div>
                      <%= link_to day_job_path(@day.id,job.id), method: :delete, "data-confirm" => "シフト希望を削除しますか？" do %>
                        <button type="button" class="btn btn-sm btn-outline-danger ">
                          <i class="fa-solid fa-trash-can"></i>
                        </button>
                      <% end %>
                    </td>
                  <% else %>
                    <td></td>
                  <% end %>

                  <% if job.comment_by?(job.user_id, @day.id) %>
                  <td>
                    <% @job_comment.each do |comment| %>
                      <% if comment.user_id == job.user_id %>
                        <% if comment.user_id == current_user.id %>
                          <div class="comment"><%= comment.comment %></div>
                          <div align = "right">
                            <%= link_to edit_day_job_job_comment_path(@day.id, job.id, comment.id) do %><button type="button" class="btn btn-sm btn-outline-primary"><i class="fa-solid fa-pen"></i></button><% end %>

                            <%= link_to day_job_job_comment_path(@day.id, job.id, comment.id), method: :delete, "data-confirm" => "備考を削除しますか？" do %>
                              <button type="button" class="btn btn-sm btn-outline-danger "><i class="fa-solid fa-trash-can"></i></button>
                            <% end %>
                          </div>
                        <% else %>
                          <div class="comment"><%= comment.comment %></div>
                        <% end %>

                      <% end %>
                    <% end %>
                  </td>
                  <% else %>
                  <td>
                    <% if job.user_id == current_user.id %>
                      <%= form_with model: [@day, job, JobComment.new] do |f| %>
                        <%= f.text_area :comment ,class: 'form-control' %>
                        <div align = "right">
                          <button type="submit" class="btn btn-sm btn-primary">送信</button>
                        </div>
                      <% end %>
                    <% end %>
                  </td>
                  <% end %>

                <!--% end %-->

              <% end %>
            <% else %>
              <%= render "blank" %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>