<h1>Jobs#show</h1>

<%= @job.user.name %>

<table>
  <thead>
    <th>1月1日（月）</th>
    <th>1月2日（火）</th>
    <th>1月3日（水）</th>
    <th>1月4日（木）</th>
    <th>1月5日（金）</th>
    <th>1月6日（土）</th>
    <th>1月7日（日）</th>
  </thead>
  <tbody>
    <td><%= @job.time1 %></td>
    <td><%= @job.time2 %></td>
    <td><%= @job.time3 %></td>
    <td><%= @job.time4 %></td>
    <td><%= @job.time5 %></td>
    <td><%= @job.time6 %></td>
    <td><%= @job.time7 %></td>
  </tbody>
</table>
<p>コメント</p>

<% @comment.each do |comment| %>
  <%= comment.user.name %>
  <%= comment.user_id %>
  <%= comment.job_id %>
  <%= comment.id %>
  <%= comment.comment %>
  <%= link_to "削除", job_job_comment_path(comment.job, comment), method: :delete %>
<% end %>
<br>
<%= current_user.id %>

