 <%= form_with model: [Job.new] do |f| %>
   <td><%= f.text_field :time1 ,size: 5 %></td>
   <td><%= f.text_field :time2 ,size: 5 %></td>
   <td><%= f.text_field :time3 ,size: 5 %></td>
   <td><%= f.text_field :time4 ,size: 5 %></td>
   <td><%= f.text_field :time5 ,size: 5 %></td>
   <td><%= f.text_field :time6 ,size: 5 %></td>
   <td><%= f.text_field :time7 ,size: 5 %></td>

   <td><%= f.submit " 提出 " %></td>

 <% end %>
