<tr class="table-secondary">
  <th style="width: 2% "></th>
  <th style="width: 10% "></th>
  <th style="width: 8% "><%= day.start.month %>月<%= day.start.day %>日</th>
  <th style="width: 8% "><%= (day.start+1).month %>月<%= (day.start+1).day %>日</th>
  <th style="width: 8% "><%= (day.start+2).month %>月<%= (day.start+2).day %>日</th>
  <th style="width: 8% "><%= (day.start+3).month %>月<%= (day.start+3).day %>日</th>
  <th style="width: 8% "><%= (day.start+4).month %>月<%= (day.start+4).day %>日</th>
  <th style="width: 8% "><%= (day.start+5).month %>月<%= (day.start+5).day %>日</th>
  <th style="width: 8% "><%= (day.start+6).month %>月<%= (day.start+6).day %>日</th>
  <th style="width: 5% "></th>
  <th style="width: 27% ", colspan="2">備考</th>
</tr>

<tr class="table-secondary">
  <td></td>
  <td></td>
  <th>月</th>
  <th>火</th>
  <th>水</th>
  <th>木</th>
  <th>金</th>
  <th class = "text-primary">土</th>
  <th class = "text-danger">日</th>
  <td></td>
  <td colspan="2"></td>
</tr>