<td><%= shift.time1 %></td>
<td><%= shift.time2 %></td>
<td><%= shift.time3 %></td>
<td><%= shift.time4 %></td>
<td><%= shift.time5 %></td>
<td><%= shift.time6 %></td>
<td><%= shift.time7 %></td>
<% if shift.user == current_user %>
  <td>
    <%= link_to edit_job_path(shift.id) do %>
      <button type="button" class="btn btn-outline-primary btn-sm btn-block"><i class="fa-solid fa-pen"></i></button>
    <% end %>
    <br>
    <%= link_to  job_path(shift.id), method: :delete, "data-confirm" => "シフト希望を削除しますか？" do %>
      <button type="button" class="btn btn-outline-danger btn-sm btn-block"><i class="fa-solid fa-trash-can"></i></button>
    <% end %>
  </td>
<% else %>

  <td></td>
<% end %>