<h2> ユーザー一覧</h2>
<p>ログイン中のユーザー：<%= current_user.name %></p>
  <table class = "table table-sm table-bordered table-hover" >
    <tr>
      <th style="width: 1% ">ID</th>
      <th style="width: 7% ">名前</th>

      <th style="width: 6% ">1月1日</th>
      <th style="width: 6% ">1月2日</th>
      <th style="width: 6% ">1月3日</th>
      <th style="width: 6% ">1月4日</th>
      <th style="width: 6% ">1月5日</th>
      <th style="width: 6% ">1月6日</th>
      <th style="width: 6% ">1月7日</th>

      <th style="width: 2% "></th>

      <th style="width: 20% ", colspan="2">備考</th>

    </tr>

    <tr>
      <%= render "week" %>
    </tr>

    <% @user.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <% if user.job_by?(user.id) %>

          <% user.jobs.each do |job| %>
            <%= render "time" , shift: job %>
            <% if job.comment_by?(job.user_id) %>
              <% JobComment.all.each do |comment| %>
                <% if comment.user_id == job.user_id %>
                  <% if comment.user_id == current_user.id %>
                    <td class="text-left"><%= comment.comment %></td>
                    <td style="width:2.5% "><%= link_to "削除", job_job_comment_path(comment.job, comment), method: :delete ,"data-confirm" => "備考を削除しますか？" %></td>
                  <% else %>
                    <td class="text-left", colspan="2"><%= comment.comment %></td>
                  <% end %>
                <% end %>
              <% end %>

            <% else %>
              <% if job.user_id == current_user.id %>
                <td>
                  <%= form_with model: [job, JobComment.new] do |f| %>
                    <%= f.text_area :comment %>
                    <button type="submit" class="btn btn-outline-primary btn-sm"><i class="fa-solid fa-arrow-up-long"></i></button>
                <% end %>
                </td>
              <% else %>
                <td colspan="2"></td>
              <% end %>

            <% end %>
          <% end %>
        <% else %>

          <% if user.id == current_user.id %>
            <%= render 'form' , shift: user %>
            <td></td>
          <% else %>
            <%= render "blank" %>
          <% end %>

        <% end %>
      </tr>
    <% end %>
  </table>