<h2> ユーザー一覧</h2>
<p>ログイン中のユーザー：<%= current_user.name %></p>
  <table>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th></th>
      <th>1月1日（月）</th>
      <th>1月2日（火）</th>
      <th>1月3日（水）</th>
      <th>1月4日（木）</th>
      <th>1月5日（金）</th>
      <th>1月6日（土）</th>
      <th>1月7日（日）</th>
      <th></th>
      <th>訂正</th>
      <th>削除</th>
      <th>備考</th>
      <th></th>
    </tr>
    <% @user.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <% if user.job_by?(user.id) %>
          <td></td>
          <% user.jobs.each do |job| %>
            <%= render "time" , shift: job %>
            <% if job.comment_by?(job.user_id) %>
              <% JobComment.all.each do |comment| %>
                <% if comment.user_id == job.user_id %>
                  <td></td>
                  <td><%= comment.comment %></td>
                  <% if comment.user_id == current_user.id %>
                    <td><%= link_to "削除", job_job_comment_path(comment.job, comment), method: :delete %></td>
                  <% end %>
                <% end %>
              <% end %>
              <td><!--%= job.job_comments.user_id %--></td>

            <% else %>
              <% if job.user_id == current_user.id %>
                <td>
                  <%= form_with model: [job, JobComment.new] do |f| %>
                    <%= f.text_area :comment %>
                    <%= f.submit "提出" %>
                <% end %>
                </td>

              <% end %>

            <% end %>
          <% end %>
        <% else %>
          <td></td>
          <%= render 'form' , shift: user %>
        <% end %>
      </tr>
    <% end %>
  </table>