<h2> ユーザー一覧</h2>
<p>ログイン中のユーザー：<%= current_user.name %></p>
  <table class = "table table-sm table-bordered table-hover" >

    <%= render "thead" %>

    <tbody>
      <% @user.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <% if user.job_by?(user.id) %>

            <% user.jobs.each do |job| %>
              <%= render "time" , shift: job %>
              <% if job.comment_by?(job.user_id) %>
                <% JobComment.all.each do |comment| %>
                  <% if comment.user_id == job.user_id %>
                    <% if comment.user_id == current_user.id %>
                      <td class="text-left"><%= comment.comment %></td>
                      <td style="width:5%">
                        <%= link_to job_job_comment_path(comment.job, comment), method: :delete ,"data-confirm" => "備考を削除しますか？" do %>
                          <button type="button" class="btn btn-link btn-sm btn-block">削除</button>
                        <% end %>
                      </td>
                    <% else %>
                      <td class="text-left", colspan="2"><%= comment.comment %></td>
                    <% end %>
                  <% end %>
                <% end %>

              <% else %>
                <% if job.user_id == current_user.id %>
                  <td>
                    <%= form_with model: [job, JobComment.new] do |f| %>
                      <%= f.text_area :comment ,class: 'form-control'%>
                      <div align = "left">
                        <button type="submit" class="btn btn-link btn-sm">送信</button>
                      </div>
                  <% end %>
                  </td>
                <% else %>
                  <td colspan="2"></td>
                <% end %>

              <% end %>
            <% end %>
          <% else %>

            <% if user.id == current_user.id %>
              <%= render 'form' , shift: user %>
              <td></td>
            <% else %>
              <%= render "blank" %>
            <% end %>

          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>