    <p>
      <%= link_to days_path do %>
        <i class="fa-solid fa-arrow-left-long"> 日程一覧に戻る</i>
      <% end %>
    </p>
    <%= render "flash/message" %>
    <h3><%= link_to users_path, :style=>"color: black" do %><small><i class="fa-solid fa-user"></i></small><% end %>
      ユーザーページ
    </h3>
    <p>
      ログイン中のユーザー
      <span class="logname">
        <i class="fa-solid fa-ellipsis-vertical"></i>
        <%= current_user.name %>
        <%= link_to edit_user_path(current_user.id) do %>
          <button type="button" class="btn btn-outline-primary">
            <i class="fa-solid fa-pen"></i>
          </button>
        <% end %>
      </span>
    </p>
    <hr>
    <h3>シフト提出状況</h3>
    <% @day.each do |start, finish, id| %>
      <!--% if @today < day.start %-->
        <li>
          <% if current_user.job_by?(current_user.id,id) %>
            <%= link_to new_day_job_path(id) ,:style=>"color: black" do %>
              <%= start.month %>月<%= start.day %>日～<%= finish.month %>月<%= finish.day %>日
            <% end %>
            提出済
          <% else %>
            <%= link_to new_day_job_path(id) do %>
              <%= start.month %>月<%= start.day %>日～<%= finish.month %>月<%= finish.day %>日
            <% end %>
            未提出
          <% end %>
        </li>
      
    <% end %>