
  <div class="row">
    <p>
      <%= link_to days_path do %>
        <i class="fa-solid fa-arrow-left-long"> 日程一覧に戻る</i>
      <% end %>
    </p>
  </div>
  <div class="row">

      <h3><%= link_to users_path, :style=>"color: black" do %><small><i class="fa-solid fa-user"></i></small><% end %>
        ユーザーページ
      </h3>

      

  </div>
    ログイン中のユーザー：<%= @user.name %>
    <%= link_to edit_user_path(@user.id) do %>
      <button type="button" class="btn btn-outline-primary">
        <i class="fa-solid fa-pen"></i>
      </button>
    <% end %>
    <hr>
    <h3>シフト提出状況</h3>
    <% @day.order(start: :asc).each do |day| %>
      <% if @today < day.start %>
        <li>
          <% if @user.job_by?(@user.id,day.id) %>
            <%= link_to new_day_job_path(day.id) ,:style=>"color: black" do %>
              <%= day.start.month %>月<%= day.start.day %>日～<%= day.finish.month %>月<%= day.finish.day %>日
            <% end %>
            提出済
          <% else %>
            <%= link_to new_day_job_path(day.id) do %>
              <%= day.start.month %>月<%= day.start.day %>日～<%= day.finish.month %>月<%= day.finish.day %>日
            <% end %>
            未提出
          <% end %>
        </li>
      <% end %>
    <% end %>