<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<% if @user.job_by?(current_user.id) %>
            <td><%= shift.time1 %></td>
            <td><%= shift.time2 %></td>
            <td><%= shift.time3 %></td>
            <td><%= shift.time4 %></td>
            <td><%= shift.time5 %></td>
            <td><%= shift.time6 %></td>
            <td><%= shift.time7 %></td>
          <% else %>
            <%= render 'form', job: @job %>
          <% end %>
