
<p>
  <%= link_to days_path do %>
    <i class="fa-solid fa-arrow-left-long"> 日程一覧に戻る</i>
  <% end %>
</p>
<h3>
  <%= @day.start.month %>月<%= @day.start.day %>日 ～
  <%= @day.finish.month %>月<%= @day.finish.day %>日
</h3>
<p>
  ログイン中のユーザー
  <span class="logname">
    <i class="fa-solid fa-ellipsis-vertical"></i>
    <%= current_user.name %>
  </span>
</p>
<hr>
<h3>催事等記入フォーム</h3>
<%= form_with model:[@day, @event], url: day_events_path(@day.id), method: :post do |f| %>
  <div class= "scroll">
    <table class = "table table-sm table-bordered table-hover" >
      <tr class="table-secondary">
        <%= render "jobs/day", day:@day %>
        <th class="come"></th>
      </tr>
      <tr class="table-secondary">
        <%= render "jobs/week", day:@day %>
      </tr>
      <tbody>
        <tr>
          <td class="one"></td>
          <td class="saizi">催事等</td>
          <td><%= f.text_area :time1 ,class: 'form-control', rows: "2" %></td>
          <td><%= f.text_area :time2 ,class: 'form-control', rows: "2" %></td>
          <td><%= f.text_area :time3 ,class: 'form-control', rows: "2" %></td>
          <td><%= f.text_area :time4 ,class: 'form-control', rows: "2" %></td>
          <td><%= f.text_area :time5 ,class: 'form-control', rows: "2" %></td>
          <td><%= f.text_area :time6 ,class: 'form-control', rows: "2" %></td>
          <td><%= f.text_area :time7 ,class: 'form-control', rows: "2" %></td>
          <td class="text-left">
            <%= link_to new_day_job_path(@day.id), "data-confirm" => "入力をキャンセルしますか？" do %><button class="btn btn-link btn-sm">キャンセル</button><% end %>
            <button type="submit" class="btn btn-primary btn-sm ">提出</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
<hr>
<h3>シフト希望一覧</h3>
<%= render "jobs/shift_index", day:@day, user:@user, job_comment:@job_comment %>