<h2>過去のシフト</h2>
<%= link_to days_path do %>
  <i class="fa-solid fa-arrow-left-long"> 戻る</i>
<% end %>
<% @day.order(start: :desc).each do |day| %>
  <% if @today > day.start %>
    <li>
      <%= link_to day_path(day.id) do %>
        <%= day.start.month %>月<%= day.start.day %>日 ～
        <%= day.finish.month %>月<%= day.finish.day %>日
      <% end %>
      <% if current_user.id == 1 %>
        <%= link_to day_path(day.id), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
          <button type="button" class="btn btn-outline-danger btn-sm">
            <i class="fa-solid fa-trash-can"></i>
          </button>
        <% end %>
      <% end %>
    </li>
  <% end %>
<% end %>