<h1>Days#show</h1>
<p>Find me in app/views/days/show.html.erb</p>
<h3>
  <%= @day.start.month %>月<%= @day.start.day %>日～
  <%= @day.finish.month %>月<%= @day.finish.day %>日
</h3>
<%= link_to "戻る", days_path %>
<hr>
<p>ログイン中のユーザー：<%= current_user.name %></p>

<table class = "table table-sm table-bordered table-hover" >
  <%= render "users/thead", day:@day %>
  <tbody>
    <% @user.each do |user| %>
      <tr>
        <td class="table-secondary"><%= user.id %></td>
        <td class="table-secondary"><%= user.name %></td>
        <% if user.job_by?(user.id,@day.id) %>
          <td>a</td>
          <%= user.jobs.each do |job| %>
            <% if job.day_id == @day.id %>
              <td><%= job.time1 %></td>
              <td><%= job.time2 %></td>
              <td><%= job.time3 %></td>
              <td><%= job.time4 %></td>
              <td><%= job.time5 %></td>
              <td><%= job.time6 %></td>
              <td><%= job.time7 %></td>
              <% if job.user.id == current_user.id %>
                <td>
                  <%= link_to "削除", day_job_path(@day.id,job.id), method: :delete, "data-confirm" => "シフト希望を削除しますか？" %>
                </td>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <td>b</td>
          <% if user.id == current_user.id %>
            <%= render "form", day:@day %>
          <% else %>
            <%= render "users/blank" %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

