
  <div class = "row">
    <div class = "col">
      <h3>トップページ</h3>
      <p>
        <%= link_to manager_path ,:style=>"color: black" do %>
          <i class="fa-solid fa-ice-cream"></i>
        <% end %>
      </p>
    </div>
  </div>
  <hr>
  <div class = "row">
    <div class = "col">
      <big><p class="font-weight-bold">ユーザー選択</p></big>
      <div class="box">
        <div class="d-flex justify-content-center">
        

          <%= form_with model: @user, url: user_session_path do |f| %>

            <div class="field">
              <%= f.label :name %><br>
              <%= f.collection_select :name, User.where("id > ?", 1), :name, :name , include_blank: "" %>
            </div>

            <div class="field">
              <!--%= f.label :password %-->
              <%= f.hidden_field :password, value: "aiueoa" %>
            </div>

            <!--% if devise_mapping.rememberable? %-->
              <!--div class="field"-->
                <!--%= f.check_box :remember_me %-->
                <!--%= f.label :remember_me %-->
              <!--/div-->
            <!--% end %-->
          <br>
            <div class="text-right">
              <button type="submit" class="btn btn-primary btn-sm ">ログイン</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
