<!DOCTYPE html>
<html>
  <head>
    <title>Shift</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/d81676dda2.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <!--%= link_to "シフト表","/" %-->
        <ul style="list-style: none">
          <li>
            <%= link_to users_path do %>
              <i class="fa-solid fa-address-book"></i> ユーザー一覧
            <% end %>
          </li>
          <li>
            <%= link_to user_path(current_user.id) do %>
              <i class="fa-solid fa-user"></i> マイページ
            <% end %>
           </li>
          <li>
            <%= link_to days_path do %>
              <i class="fa-regular fa-calendar"></i> 日程一覧
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa-solid fa-right-from-bracket"></i> ログアウト
            <% end %>
          </li>
        </ul>
      <% else %>
        <ul style="list-style: none">
          <li>
            <%= link_to "/" do %>
              <i class="fa-solid fa-ice-cream"></i> シフト表
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path do %>
              <i class="fa-solid fa-user-plus"></i> 新規登録
            <% end %>
          </li>
        </ul>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
