<!DOCTYPE html>
<html>
  <head>
    <title>シフト表</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/d81676dda2.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header class = "shadow-sm">
      <div class ="container">

        <% if user_signed_in? %>
          <!--%= link_to "シフト表","/" %-->
          <ul style="list-style: none">
          <div class ="row">
            <div class ="col">
            <li>
              <%= link_to days_path do %>
                <button type="button" class="btn btn-link">
                  <i class="fa-regular fa-calendar"></i> 日程一覧
                </button>
              <% end %>
            </li>
            </div>
            <div class ="col">
            <li>
              <%= link_to destroy_user_session_path, method: :delete ,"data-confirm" => "ログアウトしますか？" do %>
                <button type="button" class="btn btn-outline-secondary">
                  <i class="fa-solid fa-right-from-bracket"></i> ログアウト
                </button>
              <% end %>
            </li>
            </div>
          </div>
          </ul>
        <% else %>
          <ul style="list-style: none">
            <div class = "row">
              <div class = "col">
                <li>
                  <%= link_to "/" do %>
                    <button type="button" class="btn btn-link">
                      <i class="fa-solid fa-ice-cream"></i> シフト表
                    </button>
                  <% end %>
                </li>
              </div>
              <div class = "col">
                <li>
                  <%= link_to new_user_registration_path do %>
                    <button type="button" class="btn btn-link">
                      <i class="fa-solid fa-user-plus"></i> 新規登録
                    </button>
                  <% end %>
                </li>
              </div>
            </div>
          </ul>
        <% end %>

      </div>
    </header>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
